<h2>New Product</h2>
<form [formGroup]="newProductForm" (ngSubmit)="onSubmit()">    
    <div class="form-group=">
        <label for="productId">Product ID <span style="color: red;">*</span></label>
        <input type="text" formControlName="productId" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && newProductForm.controls.productId.errors }" />
        <div *ngIf="submitted && newProductForm.controls.productId.errors?.required" class="invalid">
            <div>The product ID is required</div>
        </div>
        <div *ngIf="submitted && newProductForm.controls.productId.errors?.maxlength" class="invalid">
            <div>Maximum limit of characters allowed reached</div>
        </div>
    </div>
    <div class="form-group">
        <label for="productName">Product Name<span style="color: red;">*</span></label>
        <input type="text" formControlName="productName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && newProductForm.controls.productName.errors }" />
        <div *ngIf="submitted && newProductForm.controls.productName.errors?.required" class="invalid">
            <div>The product name is required</div>
        </div>
        <div *ngIf="submitted && newProductForm.controls.productName.errors?.maxlength" class="invalid">
            <div>Maximum limit of characters allowed reached</div>
        </div>
    </div>
    <div class="form-group">
        <label for="productManager">Product Manager</label>
        <input type="text" formControlName="productManager" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && newProductForm.controls.productManager.errors }" /> 
            <div *ngIf="submitted && newProductForm.controls.productManager.errors?.maxlength" class="invalid">
                <div>Maximum limit of characters allowed reached</div>
            </div>       
    </div>
    <div>
        <label for="salesStartDate">Sales Start Date<span style="color: red;">*</span></label>
        <div>
            <p-calendar formControlName="salesStartDate" inputId="salesStartDate" dateFormat="dd/mm/yy"></p-calendar>             
            <div *ngIf="submitted && newProductForm.controls.salesStartDate.errors?.required" class="invalid">
                <div>The Sales Start Date is required</div>
            </div>
            <div *ngIf="submitted && newProductForm.controls.salesStartDate.errors?.maxlength" class="invalid">
                <div>Maximum limit of characters allowed reached</div>
            </div>
        </div>  
    </div>
    <div>
        <span style="color: red;">*</span> Mandatory Fields
    </div>
    <div class="form-group">
        <button class="mr-2 btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Clear</button>
    </div>
</form>