img {
    width: 100%;
}
.wrap-login{
    width: 960px;
    background: rgb(194, 220, 233);
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 130px 33px 95px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.login-pic {
    width: 316px;
}

.login-container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}

.form-wrap {
    width: 40%;
}


    