<div class="login-container">
    <div class="wrap-login">
        <div class="form-wrap">
            <img src="assets/img/eu-commission.png">
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-wrap">
            <div class="alert alert-info" role="alert">
                Username: test <br />
                Password: test
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors }" />
                <div *ngIf="submitted && loginForm.controls.username.errors" class="invalid-feedback">
                    <div>Username is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }" />
                <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
                    <div>Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="!formValid" class="btn btn-primary">Login</button>
            </div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </form>
    </div>
</div>