<h1>SALES</h1>
<div *ngIf="products" style="width:100%">
    <p-table #dt [columns]="tableColumns" [value]="products" [globalFilterFields]="['productName']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <ng-container *ngFor="let col of columns">
                    <th *ngIf="!col.subHeaders" rowspan="2" [pSortableColumn]="col.field">
                        {{ col.header }}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th *ngIf="col.subHeaders" [colSpan]="col.subHeaders.length">
                        {{ col.header }}
                    </th>
                </ng-container>
            </tr>
            <tr>
                <th *ngFor="let subCol of subColumns" [pSortableColumn]="subCol.field">
                    {{ subCol.header }}
                    <p-sortIcon [field]="subCol.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pEditableRow]="rowData">
                <ng-container *ngFor="let col of columns">
                    <td *ngIf="col.field" pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="rowData[col.field]">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ rowData[col.field] }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <ng-container *ngIf="col.subHeaders">
                        <td *ngFor="let subCol of col.subHeaders" pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="number" [(ngModel)]="rowData[subCol.field]"
                                        class="number-input">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ rowData[subCol.field] }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </ng-container>
                </ng-container>
                <td>
                    {{ rowData.salesQ1 + rowData.salesQ2 + rowData.salesQ3 + rowData.salesQ4 }}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div>
        <button type="button" icon="pi pi-plus" class="btn btn-primary" pAddRow [table]="dt"
            [newRow]="newRow()">Add</button>
    </div>
</div>