<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="newProduct()">New Product</a>
        <a class="nav-item nav-link" (click)="sales()">Sales</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<div>
    <div class="container">
        <div class="row">
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>