.main-box {
    border-radius: 25px;
    border: 2px solid rgb(194, 220, 233);;
    padding: 20px;
    // width: 200px;
    // height: 150px;
}
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid yellow;
}  

.flex-child:first-child {
    margin-right: 20px;
}